/* ----------body---------- */
body {
    width:900px;
    height:100%;
    margin:0px auto;
    background-color:#ffffff;
}
a{color:#80aba9}

/* ----------head---------- */
h1 {
    height:22px;
    margin:15px 0px 5px 0px;
    padding:5px;
    background-color:#ffffff;
    font-size:24px;
}

/* ----------contents---------- */
#contents{}
#inputs {
    width:280px;
    height:50px;
    margin:10px;
    float:left;
}
#main {
    width:560px;
    height:560px;
    margin:10px;
    /*border:1px black solid;*/
    float:left;
}
.text {
    margin:30px 10px;
    line-height:150%;
    font-size:12px;
}
.ex {
    color:#80aba9;
    font-weight:bold;
}
#palette {
    margin:10px 5px;
}
#palette td {
    padding:1px;
}
/*------------ table ------------*/
table {
    border-collapse: collapse;
    margin-bottom: 15px;
}
td {
    border: 1px solid gray;
    width: 15px;
    line-height: 15px;
    cursor: pointer;
}

/* ----------foot---------- */
#foot {
    font-size:12px;
    clear:both;
}